
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!--ViewData is a dictionary: you can add keys and values-->
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        <h1>First MVC Web App</h1>
    </header>
    <nav>

    </nav>
    <main>
        @RenderBody()
    </main>
    <footer>

    </footer>
</body>
</html>
